<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerCategoria</servlet-name>
        <servlet-class>org.videoclub.servlets.ControllerCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerActor</servlet-name>
        <servlet-class>org.videoclub.servlets.ControllerActor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPelicula</servlet-name>
        <servlet-class>org.videoclub.servlets.ControllerPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCinta</servlet-name>
        <servlet-class>org.videoclub.servlets.ControllerCinta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerCategoria</servlet-name>
        <url-pattern>/ListCategorias</url-pattern>
        <url-pattern>/AddCategoria</url-pattern>
        <url-pattern>/UpdateCategoria</url-pattern>
        <url-pattern>/DeleteCategoria</url-pattern>
        <url-pattern>/ListPeliculasByCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerActor</servlet-name>
        <url-pattern>/ListActores</url-pattern>
        <url-pattern>/AddActor</url-pattern>
        <url-pattern>/DeleteActor</url-pattern>
        <url-pattern>/UpdateActor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPelicula</servlet-name>
        <url-pattern>/ListPeliculas</url-pattern>
        <url-pattern>/AddPelicula</url-pattern>
        <url-pattern>/DeletePelicula</url-pattern>
        <url-pattern>/UpdatePelicula</url-pattern>
        <url-pattern>/ManagerActorToPelicula</url-pattern>
        <url-pattern>/ListPeliculasByActor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCinta</servlet-name>
        <url-pattern>/ListCintas</url-pattern>
        <url-pattern>/AddCinta</url-pattern>
        <url-pattern>/UpdateCinta</url-pattern>
        <url-pattern>/DeleteCinta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
